@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Anime>

<h2>Lista de Animes</h2>
<div style="height:3rem; ">
    <a class="btn btn-success" asp-area="" asp-controller="Anime" asp-action="Create">Criar um novo Anime!</a>

</div>


<form class="row" style="height:3rem; ">
    <div class="col col-md-4">
        <input type="text" class="form-control" name="busca" placeholder="Buscar..." />
    </div>
    <div>
    <select name="service" class="form-control">
        <option value="sql" selected>Dados Sql</option>
        <option value="static" select>Dados Estáticos</option>
        <option value="all" select>Todos os Dados</option>
    </select>
    </div>
    <div class="col col-md-2">
        <button type="submit" class="btn btn-info">Buscar!</button>
    </div>
</form>
<div style="height:3rem; ">
    @if (ViewBag.ordenar == true)
    {
        <a href="Index" class="btn btn-info">Remover Ordenação</a>

    }
    else
    {
        <a href="/Anime/Index?ordenar=true" class="btn btn-info">Ordenar</a>
    }
</div>
<!--<div class="container overflow-hidden  ">-->
<!--<div class="container ">-->
<div class="row" >
    @foreach (Anime anime in Model)
    {
        <div class=" card  container flex-lg-shrink-1  " style=" margin-bottom:2rem;  width: 25rem; align-items: center; ">
            <img src="@Html.DisplayFor(Model => anime.link_img)" class="card-img-top" alt="Img anime" style="width:200px ; height:300px ; margin-top:20px;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(Model => anime.Nome)</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <br />
                    @if (ViewBag.source == "sql")
                    {
                        <div class="display-1">
                            <a class="btn btn-info" asp-controller="Anime" asp-action="Read" asp-route-id="@anime.Id">Visualizar</a>
                            <a class="btn btn-warning" asp-controller="Anime" asp-action="Update" asp-route-id="@anime.Id">Atualizar</a>
                            <a class="btn btn-danger" asp-controller="Anime" asp-action="Confirmacao" asp-route-id="@anime.Id">Deletar</a>
                        </div>
                    }
                    else
                    {
                        <p>Não há ações para o método estático / híbrido</p>
                    }

                </li>
            </ul>

        </div>

    }
   
</div>
<!--</div>-->
<!--</div>-->
<div>
    <p>Total de Animes : @ViewBag.totalAnimes;</p>
    <p>Total Episodios : @ViewBag.totalEpisodios;</p>
    <p>Total Temporadas : @ViewBag.totalTemporadas;</p>
</div>


