@model Anime

<div class="card">
    <div class="card-header">
        @Html.DisplayFor(Model => Model.Nome)

    </div>
    <div class="card-body">
        <img src="@Html.DisplayFor(Model => Model.link_img)" class="img-fluid"><img />
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-2"> <h5 class="card-title">@Html.DisplayFor(Model => Model.Temporada) Temporadas</h5></div>
                <div class="col-6 col-sm-2"> <p class="card-text">@Html.DisplayFor(Model => Model.Episodio) Episódios</p></div>
            </div>
        </div>
        <p class="card-text">@Html.DisplayFor(Model => Model.Sinopse)</p>
        <a class="btn alert-dark" asp-area="" asp-controller="Episodio" asp-action="Index" asp-route-id="@Model.Id">Episodio</a>
        
        <a class="btn btn-success" asp-action="Index">Voltar</a>
    </div>
    
</div>



